/* map */

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.sea {
  fill: #3CB4CB;
  pointer-events: all;
}

.feature {
  fill: #82BF6E;
  cursor: pointer;
  stroke: #6C9E5B;
}

.feature.active {
  fill: #94D97D;
}

.overlay {
  background-color: rgba(0, 0, 0, .5);
  bottom: 0;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
  position: absolute;
  right: 0;
  z-index: 1;
}