/* map */

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.sea {
  fill: #b3e5fc;
  pointer-events: all;
}

.feature {
  fill: #fffde7;
  cursor: pointer;
  stroke: #e0e0e0;
  transition: fill .2s ease-in-out, stroke .2s ease-in-out;
}

.feature:hover {
  fill: #fff9e7;
}

.feature.active {
  stroke-width: .1px;
}

.overlay {
  background-color: rgba(0, 0, 0, .5);
  bottom: 0;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
  position: absolute;
  right: 0;
  z-index: 1;
}