/* map */

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.map {
  height: 100%;
  width: 100%;
}

.layerGroup {
  fill: none;
  stroke: #666;
  stroke-width: .1;
}

.layer {
  stroke-width: inherit;
}